.apply1{

    width: 130px;
    height: 36px;
    background-color:  #005049;
    border: none;
    border-radius: 30px;
    align-items: center;
    justify-content:center;
    margin-left: 10px;
    color: #ffffff;
    box-shadow: 1px 2px 9px #e1e1e1;

}